VITE_COGNITO_USER_POOL_ID=sa-east-1_bm329gdfB
VITE_COGNITO_CLIENT_ID=42qha79hpnknpksf2k1djo7eq9
VITE_COGNITO_CLIENT_SECRET=1jeh2l3f1uf4pjaqcf77i7a2rccucjlg7cnc3lu89n9hhc25qcv6
VITE_COGNITO_BASE_URL=https://cognito-idp.sa-east-1.amazonaws.com/sa-east-1_bm329gdfB
# API Configuration
VITE_API_BASE_URL=http://localhost:3000/api

# Environment
VITE_APP_ENV=development

# Features
VITE_ENABLE_PUSH_NOTIFICATIONS=true
VITE_ENABLE_MQTT=true
